<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Reqres API tests">

    <parameter name="fileName" value="REQ_User.json"/>

    <test name="My test">
        <classes>
            <class name="DelayedResponseTest">

            </class>
        </classes>
    </test>

</suite>